{% extends 'base.html.twig' %}

{% block title %}KinoWita{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-900 text-white flex items-center justify-center">
        <div class="text-center">
            <h1 class="text-5xl font-bold mb-4">KinoWita 🎬</h1>
            <p class="text-gray-400 text-xl">Witaj w aplikacji kinowej</p>
        </div>
    </div>
{% endblock %}
